<div class="draggable">
    <div class="brand">My IDE</div>
    <div class="tools">
        <button matButton >File</button>
    </div>
</div>
<div class="controls">
    <button matIconButton class="btn" (click)="minimize()">
        <mat-icon>remove</mat-icon>
    </button>
    <button matIconButton class="btn" (click)="maximize()">
        <mat-icon>crop_square</mat-icon>
    </button>
    <button matIconButton class="close-btn btn" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
